<!DOCTYPE HTML>
<html>
	<head>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css">
		<link rel="stylesheet" href="/stylesheets/main.css">
		<title>Purrfect Match</title>
	</head>
	<body>
		
		<nav class="navbar navbar-default navbar-fixed-top">
		  <div class="container-fluid">
			<div class="navbar-header">
			  <a class="navbar-brand" href="/">
				Purrfect Match
			  </a>
			</div>
			<p class="navbar-text navbar-right">
				<a href="#" class="navbar-link">Login when not logged in</a>
			</p>
			<p class="navbar-text navbar-right">Signed in as <a href="#" class="navbar-link">Show username if logged in</a></p>
			<p class="navbar-text navbar-right">
				<a href="#" class="navbar-link">Logout when logged in</a>
			</p>
			<p class="navbar-text navbar-right">
				<a href="#" class="navbar-link">Register when not logged in</a>
			</p>
		  </div>
		</nav>