<%- include ("../partials/header") %>

<h1>
	Edit shelter form
</h1>

<!-- have to change the action url later -->
<form action="/shelters/:id" method="POST">
	<button>Submit</button>
</form>

<%- include ("../partials/footer") %>