<h1>
	Welcome to Purrfect Match, where you can find the purrfect best friend for you!
</h1>
<a href="/shelters">Search Shelters</a>
<a href="/dogs">Search Dogs</a>

<a href="/register">Join Our Community!</a>