<h1>
	Register your Shelter
</h1>

<h3>
	Make sure you are the owner of this shelter before you register!
	<!-- in real life we would ask for documentation and delay the creation of the account until we confirmed that the user is the actual owner of a shelter-->
</h3>

<!-- we send this data to the creat shelter route so the shelter is created instantly and sends to the show page automatically -->
<form action="/shelters" method="POST">
	<button>Submit</button>
</form>