body{
	padding-top: 70px;
}

label{
	display: block;
}

/*so all images inside thumbnails fill the thumbnails up*/
.thumbnail img{
	height: 100%;
	width: 100%;
}

/*selects all form buttons, login buttons, submit edit form, the buttons that we want 100% width*/
.full{
	width: 100%;
}

/* selects div with class showthumbnail on show pages*/
.showThumbnail{
	width: 60%;
	margin: auto;
}

.inline{
	display: inline;
}

.block{
	display: block;
}

.border{ /*select the comments div's in the comments index page*/
	border: 1px solid #b5b4b0;
	border-radius: 5px;
	border-color: #b5b4b0;
	margin-bottom: 3px;
	display: inline-block;
	padding: 5px;
}

.marginLeft{ /*selects the edit button in the comments index page*/
	margin-left: 5px;
}

/*selects the index page's grid. makes the ajust the display of shelters/dogs considering the height of its images*/
#indexGrid{
	display: flex;
	flex-wrap: wrap;
}

#formCenter{
	width: 40%;
	margin: 25px auto;
}

#center{
	text-align: center;
}

#margin{ /*selects div with h3 in shelter show page */
	margin: 25px 20px;
}

#defaultButton{ /* selects the 'view all comments' button in dog showpage */
	border: 2px solid #f5b342;
	border-radius: 5px;
	color: #f5b342;
}